{% extends 'base.html' %}

{% block title %}Stock Entries{% endblock %}

{% block content %}

    <h1>Stock Entries</h1>

    <div class="action-bar">
        <a href="{% url 'stock_dashboard' %}">
        <i class="bi bi-arrow-left" style="margin-right: 5px;"></i>
        Back to Dashboard
    </a>
        <a href="{% url 'stock_entry_add' %}">+ Register Stock Entry</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Supplier</th>
                <th>Quantity</th>
                <th>Unit Cost</th>
                <th>Selling Price</th>
                <th>Payment Type</th>
                <th>Amount Paid</th>
                <th>Amount Owed</th>
                <th>Date Received</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <td>{{ entry.product }}</td>
                <td>{{ entry.supplier }}</td>
                <td>{{ entry.quantity }}</td>
                <td>{{ entry.unit_cost }}</td>
                <td>{{ entry.unit_selling_price }}</td>
                <td>{{ entry.get_payment_type_display }}</td>
                <td>{{ entry.amount_paid }}</td>
                <td>{{ entry.amount_owed }}</td>
                <td>{{ entry.date_received }}</td>
                <td>
                    <a class="action-delete" href="{% url 'stock_entry_delete' entry.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No stock entries yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
