{% extends 'base.html' %}

{% block title %}Suppliers{% endblock %}

{% block content %}

    <h1>Suppliers</h1>

    <div class="action-bar">
        <a href="{% url 'supplier_add' %}">+ Add Supplier</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Credit Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.address }}</td>
                <td>{{ supplier.credit_balance }} UGX</td>
                <td>
                    <a class="action-edit" href="{% url 'supplier_edit' supplier.pk %}">Edit</a>
                    <a class="action-delete" href="{% url 'supplier_delete' supplier.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No suppliers yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}