{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}

    <h1>Customers</h1>

    <div class="action-bar">
    <a href="{% url 'sales_dashboard' %}">
        <i class="bi bi-arrow-left" style="margin-right: 5px;"></i>
        Back to Dashboard
    </a>
    <a href="{% url 'customer_add' %}">
        <i class="bi bi-plus-circle" style="margin-right: 5px;"></i>
        Add Customer
    </a>
</div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone }}</td>
                <td>{{ customer.address }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No customers yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %} 